{% extends "base.html" %}
{% block titulo %}About | Mi Blog{% endblock %}
{% block contenido %}
  <div class="tarjeta">
    <h1>Acerca de mí</h1>
    <p>
      Hola, soy Fran, tengo 27 años y actualmente vivo en Tigre.
      Estoy emocionado de estar terminando el curso de Python, un paso más cerca de mi objetivo.
      ¡Un gusto haber cursado con ustedes!
    </p>
    <p class="ayuda">
      Podés personalizar este texto con tu historia, tus redes o lo que te guste. Esta vista vive en el route <code>/about/</code>.
    </p>
  </div>
{% endblock %}
